<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<div th:fragment="menuFragment">
<table border="0" cellpadding="2" cellspacing="0">
    <tr>
        <td>&nbsp;<a href="/wmmusic/do/selectMediumType?type=0"><img src="/rmmusic/img/audio_tape.png" border="0" width="40"/></a>&nbsp;</td>
        <td>&nbsp;<a href="/wmmusic/do/selectMediumType?type=1"><img src="/rmmusic/img/video_tape.png" border="0" width="40"/></a>&nbsp;</td>
        <td>&nbsp;<a href="/wmmusic/do/selectMediumType?type=2"><img src="/rmmusic/img/md.png" border="0" width="40"/></a>&nbsp;</td>
        <td>&nbsp;<a href="/wmmusic/do/selectMediumType?type=3"><img src="/rmmusic/img/cd.png" border="0" width="40"/></a>&nbsp;</td>
        <td>&nbsp;<a href="/wmmusic/do/selectMediumType?type=4"><img src="/rmmusic/img/files.png" border="0" width="40"/></a>&nbsp;</td>
        <td>&nbsp;<a href="/wmmusic/do/selectMediumType?type=5"><img src="/rmmusic/img/lp.png" border="0" width="40"/></a>&nbsp;</td>
        <td>&nbsp;<a href="/rmmusic/medium/single/select"><img src="/rmmusic/img/single.png" border="0" width="40"/></a>&nbsp;</td>
        <td>&nbsp;<a href="/wmmusic/do/selectMediumType?type=7"><img src="/rmmusic/img/cd.png" border="0" width="40"/></a>&nbsp;</td>
        <td style="background:#000000"><small>&nbsp;</small></td>
        <td>&nbsp;<a href="/wmmusic/do/selectSongForm"><img src="/rmmusic/img/song.png" border="0" width="40"/></a>&nbsp;</td>
        <td style="background:#000000"><small>&nbsp;</small></td>
        <td>&nbsp;<a href="/rmmusic/artist/select"><img src="/rmmusic/img/artist.png" border="0" width="40"/></a>&nbsp;</td>
        <td style="background:#000000"><small>&nbsp;</small></td>
        <td>&nbsp;<a href="/wmmusic/do/printSticker"><img src="/rmmusic/img/print.png" border="0" width="40"/></a>&nbsp;</td>
        <td style="background:#000000"><small>&nbsp;</small></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td align="center"><a href="/wmmusic/do/selectMediumType?type=0">Audio<br/>Tape</a></td>
        <td align="center"><a href="/wmmusic/do/selectMediumType?type=1">Video<br/>Tape</a></td>
        <td align="center"><a href="/wmmusic/do/selectMediumType?type=2">Minidisc</a></td>
        <td align="center"><a href="/wmmusic/do/selectMediumType?type=3">CD-ROM</a></td>
        <td align="center"><a href="/wmmusic/do/selectMediumType?type=4">Files</a></td>
        <td align="center"><a href="/wmmusic/do/selectMediumType?type=5">LP</a></td>
        <td align="center"><a href="/rmmusic/medium/single/select">Single</a></td>
        <td align="center"><a href="/wmmusic/do/selectMediumType?type=7">CD</a></td>
        <td></td>
        <td align="center"><a href="/wmmusic/do/selectSongForm">Song</a></td>
        <td></td>
        <td align="center"><a href="/rmmusic/artist/select">Artist</a></td>
        <td></td>
        <td align="center"><a href="/wmmusic/do/printSticker">Print<br/>Sticker</a></td>
        <td></td>
        <td align="center"><a href="/wmmusic/do/statistics">Statistics</a></td>
    </tr>
</table>
</div>
</body>
</html>