<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<div th:fragment="songDisplayFragment">
<div class="edit">
    <form method="post" th:action="@{/rmmusic/song/edit}" th:object="${song}" class="rmmusic_form edit_song" id="edit_song_form">
        <fieldset>
            <ul>
                <li>
                    <label for="artist" th:text="#{form.label.artist}"></label>
                    <input id="artist" type="text" th:field="*{artist.name}" tabindex="-1"/>
                    <span class="form_hint" th:text="#{form.hint.artist}"></span>
                </li>
                <li>
                    <label for="title" th:text="#{form.label.title}"></label>
                    <input id="title" type="text" th:field="*{title}" tabindex="-1"/>
                    <span class="form_hint" th:text="#{form.hint.title}"></span>
                </li>
                <li>
                    <label for="release" th:text="#{form.label.release}"></label>
                    <input id="release" type="text" th:field="*{release}" tabindex="-1" maxlength="3" length="3" pattern=".{0,3}"/>
                    <span class="form_hint" th:text="#{form.hint.relear}"></span>
                </li>
                <li>
                    <label for="year" th:text="#{form.label.year}"></label>
                    <input id="year" type="text" th:field="*{year}" tabindex="-1" length="4" maxlength="4" pattern="\d{0,4}"/>
                    <span class="form_hint" th:text="#{form.hint.year}"></span>
                </li>
                <li>
                    <label for="authors" th:text="#{form.label.authors}"></label>
                    <input id="authors" type="text" th:field="*{authors}" tabindex="-1"/>
                    <span class="form_hint" th:text="#{form.hint.authors}"></span>
                </li>
                <li>
                    <label for="dance" th:text="#{form.label.dance}"></label>
                    <input id="dance" type="text" th:field="*{dance}" tabindex="-1" length="2" maxlength="2"/>
                    <span class="form_hint" th:text="#{form.hint.dance}"></span>
                </li>
                <li class="fatline">
                    <label for="remarks" th:text="#{form.label.remarks}"></label>
                    <textarea id="remarks" th:field="*{remarks}" tabindex="-1" />
                </li>
                <li>
                    <input name="id" type="hidden" th:field="*{id}"/>
                    <button th:if="*{id > 0}" class="submit" type="submit" th:text="#{editSongForm.button.submit.editsong}" tabindex="-1"></button>

                </li>
            </ul>
        </fieldset>
    </form>
    <script type="application/javascript">
    jQuery(function () {
        $('#artist').devbridgeAutocomplete({
            serviceUrl: '/artist/search/findByNameIgnoreCaseStartingWithOrderByNameAsc',
            paramName: "name",
            params: {},
            minChars: 1,
            maxHeight: 'none',
            transformResult: function (response) {
                // overwrite, maybe needed for reading additional information in response
                // return $.parseJSON(response);
                var artistlist = $.parseJSON(response);
                return {
                  suggestions: $.map(artistlist._embedded.artist, function(artistDetails) {
                    return { value: artistDetails.name, data: artistDetails.name };
                  })
                };
            }
        });
    });
    </script>
</div>
</div>
<div th:fragment="editSongFormFragment">
</div>
</body>
</html>