<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <script type="text/javascript" th:src="@{/rmmusic/js/jquery-2.1.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/rmmusic/js/jquery.autocomplete-1.2.20.min.js}"></script>
    <script type="text/javascript" th:src="@{/rmmusic/js/jquery-ui-1.11.4-min.js}"></script>
    <title>rmmusic</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/rmmusic/css/rmmusic.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/rmmusic/css/form.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/rmmusic/css/jquery-ui-1.11.4-min.css}"/>
    <style>
        #code {
        width: 100px;
        }
        #digital {
          width: 50px;
        }
        #remarks {
        width: 500px;
        }
        button#editsongs {
            margin-left: 20px;
        }
        button#sticker {
            margin-left: 20px;
        }
        button#delete {
        margin-left: 50px;
        }
    </style>
    <script>
		if (top !== self) {
			$.ui.dialog.prototype._focusTabbable = $.noop;
		}
	</script>
</head>
<body>
<div th:include="menu :: menuFragment"></div>
<div th:include="flash :: flashFragment"></div>

<div id="dialog" th:title="#{deleteCDROMDialog.title}">
    <p th:text="#{deleteCDROMDialog.text}"/>
</div>

<div id="rmmusic_body">
    <div class="edit">
        <form method="post" th:action="@{/rmmusic/medium/cdrom/edit}" th:object="${medium}" class="rmmusic_form" id="edit_cdrom_form">
            <fieldset>
                <ul>
                    <li>
                        <h2 th:if="*{id > 0}" th:text="#{editCDROMForm.headline.edit}"/>
                        <h2 th:if="*{id == 0}" th:text="#{editCDROMForm.headline.create}"/>
                    </li>
                    <li th:if="*{id > 0}">
                        <label id="label_id" for="id_field" th:text="#{form.label.id}"></label>
                        <span id="id_field" th:text="*{id}"/>
                        <input name="id" type="hidden" th:field="*{id}"/>
                    </li>
                    <li>
                        <label for="code" th:text="#{form.label.code}"></label>
                        <input th:if="*{id == 0}" id="code" type="text" th:field="*{code}" required="required" maxlength="8" width="100" pattern="[\sa-zA-ZÄÖÜäöüß0-9&amp;+]{0,8}"/>
                        <input th:if="*{id > 0}" id="code" type="text" th:field="*{code}" required="required" maxlength="8" width="100" readonly="readonly"/>
                        <span class="form_hint" th:text="#{form.hint.code}"></span>
                    </li>
                    <li>
                        <label for="artistname" th:text="#{form.label.artist}"></label>
                        <input id="artistname" type="text" th:field="*{artist.name}"/>
                        <span class="form_hint" th:text="#{form.hint.artist}"></span>
                        <input id="artist" type="hidden" th:field="*{artist.id}"/>
                    </li>
                    <li>
                        <label for="title" th:text="#{form.label.title}"></label>
                        <input id="title" type="text" th:field="*{title}" autofocus="autofocus"/>
                        <span class="form_hint" th:text="#{form.hint.title}"></span>
                    </li>
                    <li>
                        <label for="size" th:text="#{form.label.size}"></label>
                        <input id="size" type="text" th:field="*{size}" pattern="\d*"/>
                        <span class="form_hint" th:text="#{form.hint.size}"></span>
                    </li>
                    <li>
                        <label for="manufacturer" th:text="#{form.label.manufacturer}"></label>
                        <input id="manufacturer" name="manufacturer" type="text" th:field="*{manufacturer}" required="required"/>
                        <span class="form_hint" th:text="#{form.hint.manufacturer}"></span>
                    </li>
                    <li>
                        <label for="recBeginDate" th:text="#{form.label.recbegindate}"></label>
                        <input id="recBeginDate" type="text" th:field="*{{recBeginDate}}" width="10" maxlength="10" th:pattern="#{date.pattern}"/>
                        <span class="form_hint" th:text="#{form.hint.recbegindate}"></span>
                    </li>
                    <li>
                        <label for="recEndDate" th:text="#{form.label.recenddate}"></label>
                        <input id="recEndDate" type="text" th:field="*{{recEndDate}}" width="10" maxlength="10" th:pattern="#{date.pattern}"/>
                        <span class="form_hint" th:text="#{form.hint.recenddate}"></span>
                    </li>
                    <li>
                        <label for="burningDate" th:text="#{form.label.burningdate}"></label>
                        <input id="burningDate" type="text" th:field="*{{burningDate}}" width="10" maxlength="10" th:pattern="#{date.pattern}"/>
                        <span class="form_hint" th:text="#{form.hint.burningdate}"></span>
                    </li>
                    <li>
                        <label for="audio" th:text="#{form.label.audio}"></label>
                        <input name="audio" id="audio" type="checkbox" th:field="*{{audio}}"/>
                    </li>
                    <li>
                        <label for="rewritable" th:text="#{form.label.rewritable}"></label>
                        <input name="rewritable" id="rewritable" type="checkbox" th:field="*{{rewritable}}"/>
                    </li>
                    <li>
                        <label for="discid" th:text="#{form.label.discid}"></label>
                        <input id="discid" type="text" th:field="*{{discId}}" width="10" maxlength="10" pattern="[0-9A-F]*"/>
                        <span class="form_hint" th:text="#{form.hint.discid}"></span>
                    </li>
                    <li>
                        <label for="trackOffsets" th:text="#{form.label.trackoffsets}"></label>
                        <textarea id="trackOffsets" th:field="*{trackOffsets}" pattern="[0-9,]*"/>
                        <span class="trackOffsets" th:text="#{form.hint.trackoffsets}"></span>
                    </li>
                    <li>
                        <label for="buyPrice" th:text="#{form.label.buyprice}"></label>
                        <input id="buyPrice" type="text" th:field="*{{buyPriceFormatted}}" width="6" maxlength="6" th:pattern="#{price.pattern.optional}"/>
                        <span class="form_hint" th:text="#{form.hint.buyprice}"></span>
                    </li>
                    <li>
                        <label for="remarks" th:text="#{form.label.remarks}"></label>
                        <textarea id="remarks" th:field="*{remarks}"/>
                    </li>
                    <li>
                        <input name="type" type="hidden" th:field="*{type}"/>
                        <button th:if="*{id > 0}" class="submit" type="submit" th:text="#{editMediumForm.button.submit.changes}"></button>
                        <button th:if="*{id == 0}" class="submit" type="submit" th:text="#{editMediumForm.button.submit.create}"></button>
                        <button th:if="*{id > 0}" class="submit" type="submit" name="editsongs" value="editsongs" id="editsongs" th:text="#{editMediumForm.button.editsongs}"></button>
                        <button th:if="*{id > 0}" class="submit" type="submit" name="sticker" value="sticker" id="sticker" th:text="#{editMediumForm.button.sticker}"></button>
                        <button th:if="*{id > 0}" class="delete" type="button" id="delete" th:text="#{editMediumForm.button.delete}" tabindex="-1"></button>
                    </li>
                </ul>
            </fieldset>
        </form>
    </div>
</div>

<div th:include="flash :: flashFragmentFoot"></div>

<script th:inline="javascript" type="text/javascript">
    jQuery(function () {
        $('#artistname').devbridgeAutocomplete({
            serviceUrl: '/artist/search/findByNameIgnoreCaseStartingWithOrderByNameAsc',
            paramName: "name",
            params: {},
            minChars: 1,
            maxHeight: 'none',
            transformResult: function (response) {
                // overwrite, maybe needed for reading additional information in response
                // return $.parseJSON(response);
                var artistlist = $.parseJSON(response);
                return {
                  suggestions: $.map(artistlist._embedded.artist, function(artistDetails) {
                    return { value: artistDetails.name, data: artistDetails.name };
                  })
                };
            }
        });
        $("#dialog").dialog({
            autoOpen: false,
            modal: true,
				resizable: false,
				buttons: {
					"Yes": function() {
					    deleteMedium('[[${medium.id}]]');
						$(this).dialog("close");
					},
					"No": function() {
						$(this).dialog("close");
					}
				}
        });
        $("#delete").on("click", function() {
            $("#dialog").dialog("open");
        });
    });

    function deleteMedium(id) {
        var deleteForm = document.createElement("form");
        deleteForm.setAttribute("method","post");
        deleteForm.setAttribute("action","/rmmusic/medium/cdrom/delete");
        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type","hidden");
        hiddenField.setAttribute("name","id");
        hiddenField.setAttribute("value",id);
        deleteForm.appendChild(hiddenField);
        document.body.appendChild(deleteForm);
        deleteForm.submit();
    }
</script>
</body>
</html>