<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <script type="text/javascript" th:src="@{/rmmusic/js/jquery-2.1.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/rmmusic/js/jquery.autocomplete-1.2.20.min.js}"></script>
    <script type="text/javascript" th:src="@{/rmmusic/js/jquery-ui-1.11.4-min.js}"></script>
    <title>rmmusic</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/rmmusic/css/rmmusic.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/rmmusic/css/form.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/rmmusic/css/jquery-ui-1.11.4-min.css}"/>
    <style>
        #code, #medium {
          width: 100px;
        }
        #track, #time, #year, #digital {
          width: 60px;
        }
        #remarks {
        width: 500px;
        }
        button#delete {
        margin-left: 50px;
        }
        input[type="checkbox"] {
          margin-right: 50px;
        }
        span.checkboxlabel {
           display: inline-block; width: 100px; text-align: right;
        }
    </style>
    <script>
		if (top !== self) {
			$.ui.dialog.prototype._focusTabbable = $.noop;
		}
	</script>
</head>
<body>
<div th:include="menu :: menuFragment"></div>
<div th:include="flash :: flashFragment"></div>

<div id="dialog" th:title="#{deleteRecordingDialog.title}">
    <p th:text="#{deleteRecordingDialog.text}"/>
</div>

<div id="rmmusic_body">
    <div th:include="song :: songDisplayFragment"></div>
    <div class="edit">
        <form method="post" th:action="@{/rmmusic/recording/edit}" th:object="${recording}" class="rmmusic_form" id="edit_recording_form">
            <fieldset>
                <ul>
                    <li>
                        <h2 th:if="*{id > 0}" th:text="#{editRecordingForm.headline.edit}"/>
                        <h2 th:if="*{id == 0}" th:text="#{editRecordingForm.headline.create}"/>
                    </li>
                    <li th:inline="text">
                        <label for="medium" th:text="#{form.label.medium}"></label>
                        <input id="medium" type="text" th:value="${mediumcode}" readonly="readonly" tabindex="-1"/>
                    </li>
                    <li th:if="${display_side}">
                        <label for="side" th:text="#{form.label.side}"></label>
                        <input id="side" type="text" th:field="*{side}" length="1" maxlength="1" pattern="[A-Za-z]"/>
                        <span class="form_hint" th:text="#{form.hint.side}"></span>
                    </li>
                    <li th:if="${display_track}">
                        <label for="track" th:text="#{form.label.track}"></label>
                        <input id="track" type="text" th:field="*{track}" length="3" maxlength="3" pattern="\d{0,3}"/>
                        <span class="form_hint" th:text="#{form.hint.track}"></span>
                    </li>
                    <li th:if="${display_counter}">
                        <label for="counter" th:text="#{form.label.counter}"></label>
                        <input id="counter" type="text" th:field="*{counter}" length="5" maxlength="5"/>
                        <span class="form_hint" th:text="#{form.hint.counter}"></span>
                    </li>
                    <li>
                        <label for="time" th:text="#{form.label.time}"></label>
                        <input id="time" type="text" th:field="*{timeFormatted}" autofocus="autofocus" length="5" maxlength="5" pattern="\d{1,2}:\d{2}"/>
                        <span class="form_hint" th:text="#{form.hint.time}"></span>
                    </li>
                    <li>
                        <label for="recordingYear" th:text="#{form.label.year}"></label>
                        <input id="recordingYear" type="text" th:field="*{recordingYear}" length="4" maxlength="4" pattern="(\d{4})*"/>
                        <span class="form_hint" th:text="#{form.track.year}"></span>
                    </li>
                    <li>
                        <label for="qualityStereo" th:text="#{form.label.quality}"></label>
                        <span class="checkboxlabel" th:text="#{form.label.stereo}"></span>: <input id="qualityStereo" type="checkbox" th:field="*{qualityStereo}" />
                        <span class="checkboxlabel" th:text="#{form.label.noisefree}"></span>: <input id="qualityNoisefree" type="checkbox" th:field="*{qualityNoisefree}" />
                        <span class="checkboxlabel" th:text="#{form.label.complete}"></span>: <input id="qualityComplete" type="checkbox" th:field="*{qualityComplete}"/>
                    </li>
                    <li>
                        <label for="specialMaxi" th:text="#{form.label.special}"></label>
                        <span class="checkboxlabel" th:text="#{form.label.maxi}"></span>: <input id="specialMaxi" type="checkbox" th:field="*{specialMaxi}" />
                        <span class="checkboxlabel" th:text="#{form.label.live}"></span>: <input id="specialLive" type="checkbox" th:field="*{specialLive}"/>
                        <span class="checkboxlabel" th:text="#{form.label.remix}"></span>: <input id="specialRemix" type="checkbox" th:field="*{specialRemix}"/>
                        <span class="checkboxlabel" th:text="#{form.label.video}"></span>: <input id="specialVideo" type="checkbox" th:field="*{specialVideo}"/>
                    </li>
                    <li>
                        <label for="digital" th:text="#{form.label.digital}"></label>
                        <input id="digital" type="text" th:field="*{digital}"/>
                        <span class="form_hint" th:text="#{form.hint.digital}"></span>
                    </li>
                    <li>
                        <label for="remarks" th:text="#{form.label.remarks}"></label>
                        <textarea id="remarks" th:field="*{remarks}"/>
                    </li>
                    <li>
                        <input th:if="${medium_id != null and medium_id != '' }" type="hidden" name="medium_id" id="medium_id" th:value="${medium_id}"/>
                        <input type="hidden" th:field="*{song.id}"/>
                        <input type="hidden" th:field="*{medium.id}"/>
                        <input th:if="*{id > 0}" name="id" type="hidden" th:field="*{id}"/>
                        <button th:if="*{id > 0}" class="submit" type="submit" th:text="#{editRecordingForm.button.submit.changes}"></button>
                        <button th:if="*{id == 0}" class="submit" type="submit" th:text="#{editRecordingForm.button.submit.create}"></button>
                        <button th:if="*{id > 0}" class="delete" type="button" id="delete" th:text="#{editRecordingForm.button.delete}" tabindex="-1"></button>
                    </li>
                </ul>
            </fieldset>
        </form>
    </div>
</div>




<div th:include="flash :: flashFragmentFoot"></div>
</body>
</html>