<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <script type="text/javascript" th:src="@{/rmmusic/js/jquery-2.1.4.min.js}"></script>
    <script type="text/javascript" th:src="@{/rmmusic/js/jquery.autocomplete-1.2.20.min.js}"></script>
    <title>rmmusic</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/rmmusic/css/rmmusic.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/rmmusic/css/form.css}"/>
</head>
<body>
<div th:include="menu :: menuFragment"></div>
<div th:include="flash :: flashFragment"></div>
<div id="rmmusic_body">
<div class="search">
    <form class="rmmusic_form" id="select_artist_form" method="get" action="/rmmusic/artist/edit">
        <fieldset>
            <ul>
                <li>
                    <h2 th:text="#{selectArtistForm.headline}"/>
                </li>
                <li>
                    <label for="artist" th:text="#{selectArtistForm.label.artist}"></label>
                    <input size="32" name="artist" id="artist"
                            th:attr="placeholder=#{selectArtistForm.search.placeholder}"
                            autofocus="autofocus"
                            required="required"/>
                    <span class="form_hint" th:text="#{selectArtistForm.hint.artist}"></span>
                </li>
                <li>
                    <label for="exact">Exact match</label>
                    <input name="exact" id="exact" type="checkbox"/>
                </li>
                <li>
                    <button class="submit" type="submit" th:text="#{selectArtistForm.button.submit}"></button>
                </li>
            </ul>
        </fieldset>
    </form>
</div>
</div>

<div th:include="flash :: flashFragmentFoot"></div>

<script type="application/javascript">
    jQuery(function () {
        $('#artist').autocomplete({
            serviceUrl: '/artist/search/findByNameIgnoreCaseStartingWithOrderByNameAsc',
            paramName: "name",
            params: {},
            minChars: 1,
            maxHeight: 'none',
            transformResult: function (response) {
                // overwrite, maybe needed for reading additional information in response
                // return $.parseJSON(response);
                var artistlist = $.parseJSON(response);
                return {
                  suggestions: $.map(artistlist._embedded.artist, function(artistDetails) {
                    return { value: artistDetails.name, data: artistDetails.name };
                  })
                };
            }
        });

        $("#artist").keyup(function(event){
            if(event.which == 13){
                document.select_artist_form.submit();
            }
        });
    });
</script>
</body>
</html>