<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<div th:fragment="menuFragment">
<table border="0" cellpadding="2" cellspacing="0">
    <tr>
        <td rowspan="3" style="padding-right: 20px; text-align:center; padding-bottom: 32px;"><a href="/rmmusic/" tabindex="-1" style="text-decoration: none;"><img src="/rmmusic/img/rmmusic.png" width="100" border="0" style="margin-top: -6px;"/><br/><h2 th:text="${#messages.msg('rmmusic.name') + ' ' + @environment.getProperty('version')}" style="text-align: center; text-shadow: 0 0 3px #FFF, 0 0 5px #FFF; margin-top: -61px; font-size:14px; color: #000;"/></a></td>
        <td>&nbsp;<a href="/rmmusic/medium/tape/select" tabindex="-1"><img src="/rmmusic/img/audio_tape.png" border="0" width="40"/></a>&nbsp;</td>
        <td>&nbsp;<a href="/rmmusic/medium/video/select" tabindex="-1"><img src="/rmmusic/img/video_tape.png" border="0" width="40"/></a>&nbsp;</td>
        <td>&nbsp;<a href="/rmmusic/medium/cdrom/select" tabindex="-1"><img src="/rmmusic/img/cd.png" border="0" width="40"/></a>&nbsp;</td>
        <td>&nbsp;<a href="/rmmusic/medium/lp/select" tabindex="-1"><img src="/rmmusic/img/lp.png" border="0" width="40"/></a>&nbsp;</td>
        <td>&nbsp;<a href="/rmmusic/medium/single/select" tabindex="-1"><img src="/rmmusic/img/single.png" border="0" width="40"/></a>&nbsp;</td>
        <td>&nbsp;<a href="/rmmusic/medium/cd/select" tabindex="-1"><img src="/rmmusic/img/cd.png" border="0" width="40"/></a>&nbsp;</td>
        <td style="background:#000000"><small>&nbsp;</small></td>
        <td>&nbsp;<a href="/rmmusic/song/select" tabindex="-1"><img src="/rmmusic/img/song.png" border="0" width="40"/></a>&nbsp;</td>
        <td style="background:#000000"><small>&nbsp;</small></td>
        <td>&nbsp;<a href="/rmmusic/artist/select" tabindex="-1"><img src="/rmmusic/img/artist.png" border="0" width="40"/></a>&nbsp;</td>
        <td style="background:#000000"><small>&nbsp;</small></td>
        <td>&nbsp;<a href="/rmmusic/sticker/print" tabindex="-1"><img src="/rmmusic/img/print.png" border="0" width="40"/></a>&nbsp;</td>
        <td style="background:#000000"><small>&nbsp;</small></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td align="center"><a href="/rmmusic/medium/tape/select" tabindex="-1">Audio<br/>Tape</a></td>
        <td align="center"><a href="/rmmusic/medium/video/select" tabindex="-1">Video<br/>Tape</a></td>
        <td align="center"><a href="/rmmusic/medium/cdrom/select" tabindex="-1">CD-ROM</a></td>
        <td align="center"><a href="/rmmusic/medium/lp/select" tabindex="-1">LP</a></td>
        <td align="center"><a href="/rmmusic/medium/single/select" tabindex="-1">Single</a></td>
        <td align="center"><a href="/rmmusic/medium/cd/select" tabindex="-1">CD</a></td>
        <td></td>
        <td align="center"><a href="/rmmusic/song/select" tabindex="-1">Song</a></td>
        <td></td>
        <td align="center"><a href="/rmmusic/artist/select" tabindex="-1">Artist</a></td>
        <td></td>
        <td align="center"><a href="/rmmusic/sticker/print" tabindex="-1">Print<br/>Sticker</a></td>
        <td></td>
        <td align="center"><a href="/rmmusic/statistics" tabindex="-1">Statistics</a></td>
    </tr>
</table>
<hr/>
</div>
</body>
</html>